$blue: #2096ff;
$indigo: #303f9f;
$light-yellow: #ffd86f;
$red-orange: #fc6262;
$light-blue: #45cafc;
$light-green: #05ffa3;

$colors: (blue: $blue,
    indigo: $indigo,
    light-yellow: $light-yellow,
    red-orange: $red-orange,
    light-blue: $light-blue,
    light-green: $light-green);